// Base Styling
@import '~bulma/bulma';
@import './globals.scss';

html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

// Overriding default Background color
.hero.is-info {
    background-color: transparent;
}

.hero-head {
  padding: 7px;
}

#homePage {
  background-image: url("../public/redRockBg.jpg");
  background-size: cover;
  background-position: center;
}

.hero .subtitle {
  line-height: 1.5;
}

.burger {
    color:black;
    background-color: whitesmoke;
    border-radius: 5px;
    
    &:hover {
        border: 1px solid whitesmoke;
        color: white;
    }
}

#navbarMenu {
    background: none;
    border-bottom: none;
    box-shadow: none;
}

#welcomeInfo, #vanInfo {
    background-color: whitesmoke;
    border-radius: 10px;
    .title, .subtitle {
        color: black;
        font-size: 1.5em;
        
    }
}

#vanInfo {
  color: black;
  padding: 10px;
  
  h2 {
    margin-bottom: 10px;
    color: green;
  }
}

.cardListContainer {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  
  .cardWrapper {
    min-width: 300px;
    max-width: 500px;
    margin: 1rem;
    flex: 1 1 0;
  }
}

.card-content .content {
  .priceContainer {
    display: flex;
    
    span {
      &:first-child {color: green};
      &:last-child {color: red};
      margin-right: 1rem;
    }
  }
}

#vanPage {
  .cardWrapper {
    min-width: 400px;
    max-width: 600px;
    margin: 1rem;
    flex: 1 1 0;
  }
}


